*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('/images/epl.jpg');
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
}
input{
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
button{
    padding: 10px 25px;
}
.input-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.text-content{
    display: flex;
    flex-direction: column-reverse;
    background: #fff;
    width: 300px;
    height: 500px;
    margin: 80px auto;
}
.man-details{
    padding: 40px 20px;
}
.text-content .img-section{
    width: 100%;
    height: 300px;
}
img{
    height: 300px;
    width: 300px;
    flex: 0 0 100%;
    max-width: 100%;
}
.noShow{
    display: none;
}